# Editor files
**/.vscode/*
.vim/*

# Python files
**/*.pyc

# LaTeX files
**/*.synctex.gz
**/*.aux
**/*.fdb_latexmk
**/*.fls
**/*.log
**/*.out
**/*.toc
**/*.synctex(busy)

# Windows files
desktop.ini

# Extra excluded files
Magias/latex_compilation/*.pdf
Magias/latex_compilation/*.tex
Magias/*.json
Magias/*.txt
.hypothesis
